@media (min-width: 1900px) {
  .choice::before {
    width: 42%;
  }
}

@media (min-width: 2360px) {
  .choice::before {
    width: 44%;
  }
}

@media (max-width: 1180px) {
  .offers__item-inner {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .choice::before {
    width: 100%;
    height: 100%;
  }
  .choice__inner {
    display: block;
    text-align: center;
  }
  .choice__item {
    margin-right: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
    text-align: left;
  }
}
